.div {
    display: flex;
    position: relative;
    margin-top: 0px;
    width: 100vw;
    background-color: rgba(51, 51, 51, 1);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    line-height: normal;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 200;
    height: 100vh;
}
.section {
    width: 100%;
    align-self: stretch;
    flex-grow: 1;
    max-width: 1200px;
    display: flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.title {
    margin-bottom: 0px;
    font-size: 80px;
}

.subtitle {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 30px;
}

.description {
    font-size: 18px;
    font-weight: 600;
    color: rgb(201, 201, 201);
    margin: 0px;
}

.btn {
    margin-top: 15px;
}

.join-btn:hover {
    text-decoration: none;
}

.join-btn {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 380px) {
    .title {
        margin-bottom: 0px;
        font-size: 60px;
    }

    .subtitle {
        margin-top: 10px;
        font-size: 23px;
    }
}
